# Starknet RPC URL
STARKNET_RPC_URL=https://starknet-sepolia.public.blastapi.io/rpc/v0_8
# Starknet Sepolia account address
ACCOUNT_ADDRESS=
# fees beneficiary address
BENEFICIARY_ADDRESS=
# Starknet Sepolia network
NETWORK=starknet_sepolia
# Starknet Sepolia private key
PRIVATE_KEY=

# gnosis chiado private key
GNOSIS_CHIADO_PK=
