# ---------- Relayer signer (can be same key on both chains) ----------
HYP_CHAINS_CHIADO_SIGNER_KEY=
HYP_CHAINS_STARKNETSEPOLIA_SIGNER_KEY=
HYP_CHAINS_STARKNETSEPOLIA_SIGNER_ADDRESS=
HYP_CHAINS_STARKNETSEPOLIA_SIGNER_IMPLEMENTATION=argent

# Checkpoint storage (both agents)
HYP_CHECKPOINTSYNCER_TYPE=localStorage
HYP_CHECKPOINTSYNCER_PATH=/hyperlane_db


# VALIDATORS PRIVATE KEYS
VALIDATOR_PK_CHIADO=
VALIDATOR_PK_STARK=